
nav a {
  color: gray;
  font-size: 24px;
  text-align: left;
  font-family: Verdana;
  font-style: italic;

}

h1, h2, h3, p {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

p {
  margin: 0px 0px 0px 0px;
  padding-bottom: 18px;

}

h1 {
  font-size: 70px;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
  padding-bottom: 18px;
}

.header {
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: cover;


}

.header h1, .header p, .header a {
  color: white;
}

#mainMenuList {
  font-size: 18px;

}

.middleSection {
  text-align: center;
}

.middleSection h1 {
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.middleSection h2, .bottomSection h2 {
  font-size: 23px;
  font-weight: bold;
}

.middleSection p, .bottomSection p {
  font-size: 14px;
}

.bottomSection h1 {
  background-image: url("../images/the-flatiron-building.png");
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.footer p {
  background-color: dimgray;
  text-align: left;
}

.footer #copyright {
  font-size: 11px;
  color: white;
  text-align: left;

}

#bottomNav a {
  color: white;
  font-size: 18px;

}
