
nav a {
  color: gray;
  font-size: 24px;
  text-align: left;
  font-family: Verdana;
  font-style: italic;

}

h1, h2, p {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

h1 {
  font-size: 70px;
  font-weight: bold;

}

.header {
  background-image: url("../images/the-flatiron-building.png");
}

.header h1, .header p, .header a {
  color: white;
}

#mainMenuList {
  font-size: 18px;
}

.middleSection {
  text-align: center;
}

.middleSection h1 {
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.middleSection h2, .bottomSection h2 {
  font-size: 23px;
  font-weight: bold;
}

.middleSection p, .bottomSection p {
  font-size: 14px;
}

.bottomSection h1 {
  background-image: url("../images/the-flatiron-building.png");
  font-size: 23px;
  font-weight: bold;
  color: white;
}
